.input-area-wrapper{margin-top: 20px;}
.input-area-wrapper .input-area-header {
  width: 100%;
  background-color: #2134484D;
  height: 200px;
  border-radius: 12px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  margin-top: 25px;
}
.input-area-wrapper .input-area-header .btn{background-color: #DF7334;color: black;font-weight: 500;}
.input-area-wrapper .input-area-header .input-area-body{width: 100%;}
.input-area-wrapper .input-area-header .input-area-body input{background-color: transparent;color: #FFFFFF;}
.input-area-wrapper .input-area-header .input-area-body input::placeholder{color: rgb(195, 191, 191);}
